@inherits Group

<div id=@Uid class="tb-field @CssClass" @ondragstart:stopPropagation 
                              ondragover="event.preventDefault()"
                              @ondragend="HandleOnDragEnd"
                              @ondragenter="HandleOnDragEnter"
                              @ondragleave="HandleOnDragLeave"
                              @ondrop:stopPropagation
                              @ondrop=HandleOnDrop>

    <CascadingValue Value="this">
            @foreach(var item in Items){
                @if(item.ClassType == CLASS_TYPE.GROUP){
                    <Group Uid=@item.Uid Title=@item.Title Parent=@this Items=@(item.Items) SaveToLocalStorageCallback=@this.SaveToLocalStorageCallback @key=item></Group>
                } else if(item.ClassType == CLASS_TYPE.INTERFACE){
                    <Interface Uid=@item.Uid Title=@item.Title Parent=@this SaveToLocalStorageCallback=@this.SaveToLocalStorageCallback @key=item></Interface>
                }
            }
    </CascadingValue>

</div>