@inherits Group

<div id=@Uid class="tb-field" @ondragstart:stopPropagation>

        @foreach(Item item in Items){
            @if(item.GetType() == typeof(Group)){
                <Group Uid=@item.Uid Title="@item.Title" Field=@this Parent=@this></Group>
            } else if(item.GetType() == typeof(Interface)){
                <Interface Uid=@item.Uid Title="@item.Title" Field=@this Parent=@this></Interface>
            }
        }

</div>