@inherits BaseItem

<div id=@Uid class="tb-group tb-item tb-draggable @CssClass @CssSelect"
     draggable="true"
     ondragover="event.preventDefault()"
     @ondragstart:stopPropagation
     @ondragstart="@(() => HandleOnDragStart(this))"
     @ondragend="HandleOnDragEnd"
     @ondragenter="HandleOnDragEnter"
     @ondragleave="HandleOnDragLeave"
     @ondrop:stopPropagation
     @ondrop="HandleOnDrop"
     @onclick:preventDefault
     @onclick:stopPropagation
     @onclick="SelectAction"
     @ondblclick:preventDefault
     @ondblclick:stopPropagation
     @ondblclick="TriggerRenameModal">
    
    @Title : @Uid : @Parent.Uid

    @foreach (var item in Items) {
        if (item.ClassType == CLASS_TYPE.GROUP) {
            <Group Uid=@item.Uid Title=@item.Title Parent=@this Items=@((item as Group).Items) SaveToLocalStorageCallback=@this.SaveToLocalStorageCallback @key=item></Group>
        }
        else if (item.ClassType == CLASS_TYPE.INTERFACE) {
            <Interface Uid=@item.Uid Title=@item.Title Parent=@this SaveToLocalStorageCallback=@this.SaveToLocalStorageCallback @key=item></Interface>
        }
    }

</div>
    
<TelerikWindow Modal="true" @bind-Visible="@renameModal">
    <WindowTitle>
        <strong>Rename</strong>
    </WindowTitle>
    <WindowContent>
        <TelerikTextBox @bind-Value="Title" Label="Enter new title"></TelerikTextBox><br/>
        <TelerikButton OnClick="TriggerRenameModal">Save</TelerikButton>
    </WindowContent>
</TelerikWindow>
        
        