@inherits Item

<div id=@Uid class="tb-group @CssClass" 
        ondragover="event.preventDefault()"
        ondragstart="event.dataTransfer.setData('',event.target.id)"
        @ondragenter="HandleOnDragEnter"
        @ondragleave="HandleOnDragLeave"
        @ondrop="HandleOnDrop">@Title</div>