@inherits Group

<div id=@Uid class="tb-item tb-draggable @CssClass @CssSelect"
                draggable = "true"
                ondragover="event.preventDefault()"
                @ondragstart:stopPropagation
                @ondragstart="@(()=>HandleOnDragStart(this))"
                @ondragend="HandleOnDragEnd"
                @ondblclick:preventDefault
                @ondblclick:stopPropagation
                @ondblclick="TriggerRenameModal"
                @onclick="Debug_Output">@Title <br/>

                <div class="tb-flex">
                @for(int i = 0; i < MAX_IFACES; i++){
                    <IntegrationSlot Iface=@(Items[i] as Interface) Parent=@this Index=@i></IntegrationSlot>
                }
                </div>
                
</div>