@inherits Item

<div id=@Uid draggable="true" class="tb-interface tb-item tb-draggable @CssClass" 
            @ondragstart:stopPropagation   
            @ondragstart="@(()=>HandleOnDragStart(this))"
            @ondblclick:preventDefault
            @ondblclick:stopPropagation
            @ondblclick="TriggerRenameModal">@Title : @Uid : @Parent.Uid</div>

<TelerikWindow Modal="true" @bind-Visible="@renameModal">
    <WindowTitle>
        <strong>Rename</strong>
    </WindowTitle>
    <WindowContent>
        <TelerikTextBox @bind-Value="Title" Label="Enter new title"></TelerikTextBox><br/>
        <TelerikButton OnClick="TriggerRenameModal">Save</TelerikButton>
    </WindowContent>
</TelerikWindow>