@inherits Field

<div id=@Uid class="tb-field @CssClass"
                ondragover="event.preventDefault();"
                @ondrop:stopPropagation
                @ondrop:preventDefault
                @ondrop="HandleOnDrop">

    <CascadingValue Value=this>
            @foreach(BaseItem item in Items){
                <IntegrationNode Uid=@item.Uid Title=@item.Title Instance=@item Items=@((item as Group).Items)></IntegrationNode>
            }
    </CascadingValue>

</div>