@inherits Item

<div id=@Uid draggable="true" class="tb-interface tb-draggable @CssClass" 
            @ondragstart:stopPropagation   
            @ondragstart="@(()=>HandleOnDragStart(this))"
            @onclick:stopPropagation>@Title : @Uid : @Parent.Uid</div>