@using System.ComponentModel.DataAnnotations
@inherits Field

<div id=@Uid class="tb-field @CssClass">

    <CascadingValue Value=this>
            @foreach(var item in Items)
            {
                <IntegrationNode Uid=@item.Uid Title=@item.Title Items=@item.Items SaveToLocalStorageCallback=@this.SaveToLocalStorageCallback Parent=@this @key="item" @ref="intNodeRefs[item.Uid]"></IntegrationNode>
            }
    </CascadingValue>

</div>