@inherits BaseItem

<div id=@Uid draggable="true" class="tb-interface tb-item tb-draggable @CssClass @CssSelect" 
            @ondragstart="@(()=>HandleOnDragStart(this))"
            @ondragend="HandleOnDragEnd"
            @onclick:stopPropagation
            @onclick:preventDefault
            @onclick="SelectAction"
            @ondblclick:preventDefault
            @ondblclick:stopPropagation
            @ondblclick="TriggerRenameModal"><p>@Title</p></div>

<TelerikWindow Modal="true" @bind-Visible="@renameModal">
    <WindowTitle>
        <strong>Rename</strong>
    </WindowTitle>
    <WindowContent>
        <TelerikTextBox @bind-Value="Title" Label="Enter new title"></TelerikTextBox><br/>
        <TelerikButton OnClick="TriggerRenameModal">Save</TelerikButton>
    </WindowContent>
</TelerikWindow>