@inherits Group

@if (!hidden)
{
    <div id=@Uid class="tb-item tb-draggable @CssClass @CssSelect"
         @ondblclick:preventDefault
         @ondblclick:stopPropagation
         @ondblclick="TriggerRenameModal">
        
        @Title
        
        <i class="fas fa-times-circle tb-closeicon"
           @onclick:stopPropagation
           @onclick:preventDefault
           @onclick="DestroyNode"></i>
        
        <br/>

        <div class="tb-flex">
            <div>    
                <IntegrationSlot Uid=@Items[0].Uid Iface=@(Items[0].Iface as Interface) Parent=@this Index=0 SaveToLocalStorageCallback=@this.SaveToLocalStorageCallback @key=Items[0]></IntegrationSlot>
            </div>
            <div class="flex-column">
                @for (int i = 1; i < Items.Count; i++) {

                    <IntegrationSlot Uid=@Items[i].Uid Iface=@(Items[i].Iface as Interface) Parent=@this Index=@i SaveToLocalStorageCallback=@this.SaveToLocalStorageCallback @key=Items[i]></IntegrationSlot>

                }
            </div>
            
        </div>
    </div>
}

<TelerikWindow Modal="true" @bind-Visible="@renameModal">
    <WindowTitle>
        <strong>Rename</strong>
    </WindowTitle>
    <WindowContent>
        <TelerikTextBox @bind-Value="Title" Label="Enter new title"></TelerikTextBox><br/>
        <TelerikButton OnClick="TriggerRenameModal">Save</TelerikButton>
    </WindowContent>
</TelerikWindow>