@inherits Item

<div id=@Uid class="tb-trash @CssClass"
     ondragover="event.preventDefault()"
     @ondragenter="HandleOnDragEnter"
     @ondragleave="HandleOnDragLeave"
     @ondrop="HandleOnDrop">
    
    Trash<br/>
    
</div>