# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.TreeBuilder.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Commvault\RiderProjects\TreeBuilder\.idea\.idea.TreeBuilder.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
