@using Telerik.Blazor.Components.Common.Layout
@inherits Group

<div id="GroupField" class="tb-field @CssClass"
     ondragover="event.preventDefault()"
     @ondragenter="(()=>HandleOnDragEnter(this))"
     @ondragleave="(()=>HandleOnDragLeave(this))"
     @ondrop:stopPropagation
     @ondrop="HandleOnDrop">


    
        @foreach (var item in Storage.GroupField.GroupItems) {
            @if (Helpers.Is<Group>(item)) {
                <Group InstanceClass=@item Parent="this" @key=@item.Guid></Group>
            }
            else if (Helpers.Is<Interface>(item)) {
                <Interface InstanceClass=@item Parent="this" @key=@item.Guid></Interface>
            }

        }
    


</div>