@using Telerik.Blazor.Components.Common.Layout
@inherits Group

<div id="GroupField" class="tb-field @CssClass"
     ondragover="event.preventDefault()"
     @ondragenter="(()=>HandleOnDragEnter(this))"
     @ondragleave="(()=>HandleOnDragLeave(this))"
     @ondrop:stopPropagation
     @ondrop="HandleOnDrop">


    <CascadingValue Value="this" Name="Field">
        @foreach (var item in Storage.GroupField.GroupItems) {
            @if (Is<Group>(item)) {
                <Group InstanceClass=@item Parent="this" @key=@item.Guid></Group>
            }
            else if (Is<Interface>(item)) {
                <Interface InstanceClass=@item Parent="this" @key=@item.Guid></Interface>
            }

        }
    </CascadingValue>


</div>