@using Telerik.Blazor.Components.Common.Layout
@inherits Group

<div id="GroupField" class="tb-field @CssClass"
     ondragover="event.preventDefault()"
     @ondragenter="(()=>HandleOnDragEnter(this))"
     @ondragleave="(()=>HandleOnDragLeave(this))"
     @ondrop:stopPropagation
     @ondrop="HandleOnDrop">


    <CascadingValue Value="this" Name="Field">
        @foreach (var item in Storage.GroupField.GroupItems) {
            @if (Is<Group>(item)) {
                <Group Guid=@item.Guid 
                       Title=@item.Title 
                       GroupItems=@((item as Group).GroupItems) 
                       Parent=@item.Parent 
                       @key=@item.Guid 
                       CssClass=@item.CssClass></Group>
            }
            else if (Is<Interface>(item)) {
                <Interface Guid=@item.Guid 
                           Title=@item.Title 
                           Parent=@item.Parent 
                           @key=@item.Guid 
                           CssClass=@item.CssClass></Interface>
            }

        }
    </CascadingValue>


</div>