@using System.Timers
@inherits BaseClass

<div id="@DomId" class="tb-integrationslot @CssClass"
     ondragover="event.preventDefault()"
     @ondrop="HandleOnDrop">

    @if ((Parent as IntegrationNode).Interfaces[Position] != null) {
        <Interface Guid=@((Parent as IntegrationNode).Interfaces[Position].Guid) 
                   Title=@((Parent as IntegrationNode).Interfaces[Position].Title) 
                   Parent=@(this.Parent) 
                   @key=@((Parent as IntegrationNode).Interfaces[Position].Guid) 
                   CssClass=@((Parent as IntegrationNode).Interfaces[Position].CssClass)></Interface>
    }

</div>