@inherits Group

<div id="IntegrationField" class="tb-field @CssClass"
     ondragover="event.preventDefault()"
     @ondrop:stopPropagation
     @ondrop="HandleOnDrop">

    
        @foreach (var item in Storage.IntegrationField.GroupItems.Cast<IntegrationNode>()) {
            <IntegrationNode InstanceClass=@item Parent="this" @key=@item.Guid></IntegrationNode>
            
        }
        <br/>
        <br/>
    
</div>