@inherits Group

<div class="tb-field @CssClass"
     ondragover="event.preventDefault()"
     @ondrop:stopPropagation
     @ondrop="HandleOnDrop">

    <CascadingValue Value="this" Name="Field">
        @foreach (var item in GroupItems.Cast<IntegrationNode>()) {
            <IntegrationNode Guid=@item.Guid Title=@item.Title GroupItems=@item.GroupItems Interfaces=@item.Interfaces Parent=@item.Parent @key=item.Guid @ref=@Instances[item.Guid]></IntegrationNode>
            
        }
        <br/>
        <br/>
    </CascadingValue>
</div>