@inherits TreeBuilder.Classes.BaseClass

<div class="tb-integrationslot @CssClass"
     ondragover="event.preventDefault()"
     @ondragenter="HandleOnDragEnter"
     @ondragleave="HandleOnDragLeave"
     @ondrop:stopPropagation
     @ondrop="HandleOnDrop">
     
    @if (((Parent as IntegrationNode).Interfaces[(int)Position]) != null) {
        <Interface Title=@((Parent as IntegrationNode).Interfaces[(int)Position].Title) Parent="@this" @key=@((Parent as IntegrationNode).Interfaces[(int)Position])></Interface>
    } 
     
</div>  