@using System.Timers
@inherits BaseClass

<div id="@DomId" class="tb-integrationslot @CssClass"
     ondragover="event.preventDefault()"
     @ondrop="HandleOnDrop">

    @if ((Parent as IntegrationNode).Interfaces[Position] != null) {
        <Interface InstanceClass=@((Parent as IntegrationNode).Interfaces[Position]) Parent="this.Parent" @key=@((Parent as IntegrationNode).Interfaces[Position].Guid)></Interface>
    }

</div>