@inherits BaseClass

<div draggable="true" class="tb-interface tb-item tb-draggable @CssClass @CssSelect"
     @ondragstart:stopPropagation
     @ondragstart="@(() => HandleOnDragStart(this))"
     @ondragend="HandleOnDragEnd">

    <div id=@Guid contenteditable="true" onfocus="HandleOnFocus(this)" onblur="HandleOnBlur(this)">@Title</div>

</div>