@page "/"

<button @onclick="AddGroup">Add a group</button><br/>
<button @onclick="AddInterface">Add an interface</button><br/>

<Field @ref=fieldRef></Field>

<Trash></Trash>

@if(fieldRef != null){
@foreach(Group grp in fieldRef.Groups){
    @grp.Uid @grp.Parent.Uid <br/>
}
}

@code {

    Field fieldRef {get; set;}

    protected override void OnInitialized()
        {
            base.OnInitialized();
        }

    

    public void AddGroup(){
        fieldRef.AddGroup();
    }

    public void AddInterface(){
        fieldRef.AddInterface();
    }
}

        