@page "/"

<button @onclick="AddGroup">Add a group</button><br/>
<button @onclick="AddInterface">Add an interface</button><br/>
<button @onclick="(()=>StateHasChanged())">Refresh State</button><br/>

<div class="container">
    <div class="row">
        <div class="col col-6">
            <Field @ref=fieldRef></Field>
        </div>
        <div class="col col-6">
            <FieldOutput></FieldOutput>
        </div>
    </div>
</div>

<Trash></Trash>

@code {

    Field fieldRef {get; set;}

    protected override void OnInitialized()
        {
            base.OnInitialized();
        }

    

    public void AddGroup(){
        fieldRef.AddGroup();
        fieldRef.Refresh();
    }

    public void AddInterface(){
        fieldRef.AddInterface();
        fieldRef.Refresh();
    }
}

        