@page "/"

<button @onclick="AddGroup">Add a group</button><br/>
<button @onclick="AddInterface">Add an interface</button><br/>

<Field @ref=fieldRef></Field>

<Trash></Trash>

@if(fieldRef != null){
@foreach(Item itm in fieldRef.Items){
    @itm.Uid  @itm.Parent.Uid <br/>
}
}

@code {

    Field fieldRef {get; set;}

    protected override void OnInitialized()
        {
            base.OnInitialized();
        }

    

    public void AddGroup(){
        fieldRef.AddGroup();
        fieldRef.Refresh();
    }

    public void AddInterface(){
        fieldRef.AddInterface();
        fieldRef.Refresh();
    }
}

        