@page "/"

@using TreeBuilder.Classes

@inject StorageService StorageService
@inject RenderService RenderService
@inject EventState EventState
@inject Classes.Version Version

@namespace TreeBuilder.Pages

<div class="container">
    <div class="row">
        <div class="col col-6">
            <button @onclick="AddGroup">Add a group</button><br/>
            <button @onclick="AddInterface">Add an interface</button><br/>
            <button @onclick="AddIntegrationNode">Add an integration node</button><br/>
        </div>
        <div class="col col-6">
            <!-- Where the floating Node will go -->
            <IntegrationGhostNode @ref="ghostRef"></IntegrationGhostNode>
        </div>
    </div>
    <div class="row">
        <div class="col col-6">
            <GroupField @ref="fieldRef"></GroupField>
        </div>
        <div class="col col-6">
            <IntegrationField @ref="integrationRef"></IntegrationField>
        </div>
    </div>

</div>

@code {

    public GroupField fieldRef { get; set; }
    public IntegrationField integrationRef { get; set; }
    public IntegrationGhostNode ghostRef { get; set; }

    protected override void OnInitialized() {
        Console.WriteLine("TreeBuilder. Version: " + Version);
    }

    protected override void OnAfterRender(bool firstRender) {
        if (firstRender) {
            StorageService.GroupField = fieldRef;
            StorageService.IntegrationField = integrationRef;
            RenderService.GroupField = fieldRef;
            RenderService.IntegrationField = integrationRef;
            RenderService.GhostNode = ghostRef;
            EventState.PopulateDictionaryGroupField(StorageService.GroupField.GroupItems);
            EventState.PopulateDictionaryIntegrationsField(StorageService.IntegrationField.IntegrationNodes);
        }
    }

    public void AddGroup() {
        var grp = new Group(fieldRef, fieldRef);
        EventState.RuntimeGroups[grp.Guid] = grp;
        fieldRef.GroupItems.Add(grp);
        StorageService.SaveToSessionStorage();
        RenderService.Redraw();
    }

    public void AddInterface() {
        var iface = new Interface(fieldRef, fieldRef);
        EventState.RuntimeInterfaces[iface.Guid] = iface;
        fieldRef.GroupItems.Add(iface);
        StorageService.SaveToSessionStorage();
        RenderService.Redraw();
    }

    public void AddIntegrationNode() {
        var node = new IntegrationNode(integrationRef, integrationRef);
        EventState.RuntimeIntegrations[node.Guid] = node;
        integrationRef.IntegrationNodes.Add(node);
        StorageService.SaveToSessionStorage();
        RenderService.Redraw();
    }

}